<div style="min-height: 80vh;height: auto;">
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-success btn-md">Add new car</button>
        </div>
    </div>
    <div class="row gap-2">
        <div class="col-md-3 card">
            <div class="card-header">
                card-header
            </div>
            <div class="card-body">
                card-body
            </div>
            <div class="card-footer">
                card-footer
            </div>
        </div>
    </div>
</div>